* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: white;
}

.navbar {
    width: 100%;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #022b63, #0a3b88);
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.logo i {
    font-size: 24px;
}

.nav-links {
    display: flex;
    gap: 35px;
    list-style: none;

}

.nav-links li a {
    text-decoration: none;
    color: white;
    position: relative;
    transition: 0.3s;
}

.nav-links li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0px;
    height: 2px;
    background: white;
    transition: 0.3s;
}

.nav-links li a:hover::after {
    width: 100%;
}

.right-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.login {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.btn {
    padding: 10px 20px;
    background-color: rgb(80, 102, 246);
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
}

.hero-content {
    width: 50%;
}

.hero-content h1 {
    font-size: 70px;
    line-height: 1.1;
    margin-top: 40px;
    margin-bottom: 25px;
    font-weight: 700;
}

.hero-content p {
    width: 80%;
    line-height: 1.8;
    color: #535252;
    margin-bottom: 40px;
}

.search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px 20px;
    border-radius: 5px;

}

.search-item {
    padding: 0 20px;
    border-right: 1px solid #ddd;
}

.search-item span {
    color: grey;
    font-size: 14px;
}

.search-item h4 {
    margin-top: 8px;
    color: black;
    font-size: 16px;
}

.search-item:last-child {
    border: none;
}

.search-btn {
    padding: 18px 35px;
    border: none;
    border-radius: 12px;
    background: #2f80ff;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.hero-img {
    width: 50%;
    display: flex;
    justify-content: center;
    object-fit: contain;
}